<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Angajati
    </title>
</head>

<body>
    <h2>
        Angajati
    </h2>
    <%- include('./meniu.ejs'); %>
    <div>
        <a href="/angajatiSortat"> SORTEAZA dupa salariu</a>
    </div>
    <div>
        <a href="/insert_angajat"> Insereaza</a>
    </div>
    <br>
    <% for (let angajat of locals.angajati){%>
        <div>
            job_id<%- angajat.job_id %>
            angajat_id<%- angajat.angajat_id %>
            data_angajare<%- angajat.data_angajare%>
            salariu<%- angajat.salariu%>
            stare_contract<%- angajat.stare_contract %>
            <a href="angajatDelete/<%- angajat.job_id %>"> Sterge  </a> 
        </div>
        <br>
    <% } %>
</body>

</html>